body {
    background-color: white;
    font-size: 0.85em;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #bbbbbb;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

tr.date-row{
    background-color: #707070;
    color: #eeeeee;
}