body {
    background-color: white;
    font-size: 0.85em;
    margin: 0;
    font-family: sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    border-top: 1px solid #bbbbbb;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #bbbbbb;
}

td, th {
    border-top: none;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-left:none;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even){
    background-color: #dddddd;
}

tr.date-row{
    background-color: #707070;
    color: #eeeeee;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #f2f2f5;
}
#menu li{
    float: left;
}
#menu li a{
    display: block;
    text-align: center;
    margin: 0 20px 0 0;
    color: #007bff;
    text-decoration: none;
    line-height: 45px;
    width: 100%;
}

div.container {
    margin: 5px;
}

#menu li.current_location {
    border-bottom: solid 2px #007bff;
}

@media screen and (max-width: 480px) {
    body {
	margin: 0;
    }
    
    #menu ul {
	width: 100%;
    }
    #menu li {
	width: 64px;
	width: -webkit-calc(100% / 5);
	width: calc(100% / 5);
    }
    #menu li a {
	margin: 0;
	font-size: 14px;
    }
    td:nth-child(4n){
	min-width: 5rem;
    }
    select#tournament {
	max-width: calc(100% - 7rem);
    }

    div.container {
	margin: 0;
    }
}

div#footer{
    background-color: #cccccc;
    color: #171717;
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0px;
    border: solid 1px black;
}

div.update_time {
  margin: 1em 0;
}
select#genre {
  margin-bottom: 1em;
}
select#tournament {
  margin-bottom: 0.5em;
}
tr.date-row>td {
  text-align: center;
}

@media print {
    table {
	border-collapse: collapse;
	border: 1px solid #bbbbbb;
    }
    
    tr {
	page-break-inside: avoid;
    }

    td, th {
	border: 1px solid #bbbbbb;
    }
    
}
