body {
    background-color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border: 1px solid #bbbbbb;
}

td.date, td.title {
    display: inline;
    padding-right: 8px;
    font-weight: bold;
}

td.genre {
    display: block;
    margin-top: 4px;
    font-size: 0.8em;
}
td.genre:before {
    content: "ジャンル：";
}

td.tournament {
    display: block;
    font-size: 0.8em;
}
td.tournament:before {
    content: "リーグ：";
}

td.misc {
    display: block;
    margin-bottom: 4px;
    font-size: 0.8em;
}
 
tr:nth-child(even){
    background-color: #dddddd;
}

tr.date-row{
    background-color: #707070;
    color: #eeeeee;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    line-height: 2em;
}
#menu li{
    float: left;
}
#menu li a{
    display: block;
    text-align: center;
    margin: 0 20px 0 0;
}
div#footer{
    background-color: #cccccc;
    color: #171717;
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0px;
    border: solid 1px black;
    font-size: 0.85em;
}